.post-textarea {
    resize: none;
    width: 100%;
    font-family: inherit;
    border: transparent;
    /* border: 1px solid rgb(211, 211, 211); */
    /* background-color: rgb(240, 240, 240); */
    transition: all 0.5s;
}


.post-form-container {
    width: 100%;
}


.post-textarea:focus {
    /* border: 1px solid lightgray; */
    outline: none;
}


.post-form-actions {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-form-wrapper {
    display: flex;
    align-items: start;
    gap: 24px;
}

.post-form-wrapper div img {
    border-radius: 100%;
}


.post-form-wrapper form {
    flex-grow: 1;
}